body {
    background: #fafafa;
    margin: 0px;
    padding: 0px;
}

* {
    box-sizing: border-box;
}

header {
    background-color: #6f6c69;
    height: 70px;
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    color: #fff8e5;
}

/*Img izquierda Header*/
.lyf {
    width: 70px;
    height: 70px;
    margin: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    cursor: pointer;
}

.noche {
    width: 20px;
    margin-right: 10px;
    cursor: pointer;
}

/*Modo Noche*/
.modoNoche {
    background: #333;
    color: #ebeef0;
}

/*H1 en el Header*/
h1 {
    font-family: "Sedgwick Ave Display", cursive;
    font-size: 50px;
}

/*Pantalla inicial- explicación TMB*/
main {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 140px);
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
}

/*p de la pantalla inicial. Explica TMB*/
main p {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    text-align: center;
    margin-top: 5px;
}

/*h2 Bienvenida*/
.lifYFlow {
    font-size: 30px;
    font-family: "Sedgwick Ave Display", cursive;
    color: #5f9ea0;
}

/*Formulario*/
.formulario {
    display: none;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 140px);
    width: 100%;
}

/*Titulos de cada pantalla*/
.h2 {
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    margin-bottom: 10px;
}

button {
    margin: 15px;
    border-radius: 8px;
    background-color: #708090;
    color: #ebeef0;
    font-size: 22px;
    font-family: "Sedgwick Ave Display", cursive;
    padding: 3px;
}

input,
select {
    margin: 10px;
    font-family: "Roboto", sans-serif;
    text-align: center;
}

label {
    color: #333;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    margin-top: 5px;
}

.intensidad {
    font-size: 13px;
    margin-top: 5px;
    font-weight: 300;
    font-style: italic;
}

/*Pantalla de cálculo para déficit o superávit calórico*/
.resultados {
    display: none;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 140px);
}

/*Datos cargados en el formulario, que se imprimen en HTML con map*/
.cards {
    width: 400px;
    height: 100px;
    padding: 5px;
    border-radius: 5px;
    border: solid 3px black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    background-color: #5f9ea0;
    color: #fafafa;
    margin: 15px;
}

/*Texto dentro de las cards*/
h3 {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
}

.pantallaBotones {
    display: flex;
    flex-direction: row;
}

/*Pantalla que da el cálculo de calorías y proteínas*/
.resultadoCalculadora {
    font-family: "Roboto", sans-serif;
    color: #333;
    font-size: 18px;
}

footer {
    background-color: #6f6c69;
    height: 70px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    color: #fff8e5;
    font-family: "Roboto", sans-serif;
}

/*Media query*/
@media only screen and (max-width: 600px) {
    header,
    footer {
        height: 60px;
    }

    /*H1 en el Header*/
    h1 {
        font-family: "Sedgwick Ave Display", cursive;
        font-size: 35px;
    }

    /*Img izquierda Header*/
    .lyf {
        cursor: auto;
        width: 60px;
        height: 60px;
        margin: 2px;
    }

    /*btn modoNoche*/
    .noche {
        cursor: auto;
    }

    /*Pantalla inicial- explicación TMB*/
    main {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
        height: calc(100vh - 140px);
        width: 100%;
    }

    /*p de la pantalla inicial. Explica TMB*/
    main p {
        font-family: "Roboto", sans-serif;
        font-size: 13px;
        text-align: center;
        margin: 7px;
    }

    /*h2 Bienvenida*/
    .lifYFlow {
        font-size: 30px;
        font-family: "Sedgwick Ave Display", cursive;
        color: #5f9ea0;
    }

    /*Titulos de cada pantalla*/
    .h2 {
        font-family: "Roboto", sans-serif;
        font-size: 22px;
        margin-bottom: 10px;
    }

    label {
        font-size: 13px;
    }

    button {
        font-size: 17px;
    }

    .cards {
        width: 100%;
        padding: 5px;
        border-radius: 5px;
        border: solid 3px black;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        align-content: center;
        background-color: #5f9ea0;
        color: #fafafa;
        margin: 15px;
    }

    /*Texto dentro de las cards*/
    h3 {
        font-family: "Roboto", sans-serif;
        font-size: 15px;
    }

    /*Pantalla que da el cálculo de calorías y proteínas*/
    .resultadoCalculadora {
        font-family: "Roboto", sans-serif;
        color: #333;
        font-size: 15px;
    }

    footer p {
        font-size: 12px;
        font-family: "Roboto", sans-serif;
    }
}
